/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget switchBox
 *
 * Includes switchBox-specific rules of the Cupertino skin
 *
 * @style cupertino
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/switchBox/css/widget-switchBox.css
 * @link /walib/WAF/widget/skin/cupertino/css/widget-skin-cupertino.css
 *
 */



/**
 * -------------------------------------------------------
 * @section Main
 * -------------------------------------------------------
 */

.cupertino .waf-widget-body.waf-dataGrid-body {
     background-image: url("/walib/WAF/widget/dataGrid/skin/cupertino/images/grid_back.png");
}

/**
 * -----------------------------------
 * @subsection 
 * -----------------------------------
 */

/**
* -----------------------------------
* @subsection Widget header
* -----------------------------------
*/
.cupertino .waf-widget-header,
.cupertino .waf-widget.waf-container.waf-widget-header {

	-moz-box-shadow:    inset 0 1px 0 rgb(238, 238, 238);
    -webkit-box-shadow: inset 0 1px 0 rgb(238, 238, 238);
    box-shadow:         inset 0 1px 0 rgb(238, 238, 238);
}

 
.waf-dataGrid.cupertino .waf-dataGrid-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-width: 1px;
}

/**
* -----------------------------------
* @subsection Widget footer
* -----------------------------------
*/
.waf-dataGrid.cupertino .waf-dataGrid-footer {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 1px;
}

/**
* -----------------------------------
* @subsection Widget cell
* -----------------------------------
*/
.waf-dataGrid .waf-dataGrid-cell .content {
    padding-left: 10px;
}

/**
* -----------------------------------
* @subsection Widget dataGrid
* -----------------------------------
*/
.waf-dataGrid {

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
	border-radius: 5px;

}

