/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget dataGrid
 *
 * Includes grid-specific rules of the Light skin
 *
 * @style light
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/grid/css/widget-grid.css
 * @link /walib/WAF/widget/skin/light/css/widget-skin-light.css
 *
 */


/**
 * -------------------------------------------------------
 * @section dataGrid container
 * -------------------------------------------------------
 */


/**
 * -------------------------------------------------------
 * @section dataGrid header
 * -------------------------------------------------------
 */


/**
 * -------------------------------------------------------
 * @section dataGrid body
 * -------------------------------------------------------
 */
.light .waf-dataGrid-body {
	border-width: 0 1px 0 1px;
	border-style: solid;
}


/**
 * -------------------------------------------------------
 * @section dataGrid row
 * -------------------------------------------------------
 */


/**
 * -------------------------------------------------------
 * @section dataGrid cell
 * -------------------------------------------------------
 */
.light .waf-dataGrid-cell {
	border-left-width: 1px;
	border-left-style: solid;
}