/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/**
 * Widget dataGrid
 *
 * Includes mandatory rules for the dataGrid widget
 *
 * @link /walib/WAF/widget/css/widget.css
 *
 */

/**
 * -------------------------------------------------------
 * @section dataGrid header
 * -------------------------------------------------------
 */
.waf-dataGrid-header {
	position: absolute;
	background-repeat: repeat-x;
	overflow: hidden;
	z-index: 1;
	
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}

.waf-dataGrid-header .waf-dataGrid-cell {
	width: 89px;
	height: 32px;
	padding: 0;
	float: left;
	overflow: hidden;
}


/*
[data-type=dataGrid] .header .cell > .content {
	-moz-user-select: none;
	-webkit-user-select: none;
*/
.waf-dataGrid-header .resize {
	position: absolute;
	width: 6px;
	height: 30px;
	right: 0;
	cursor: col-resize;
}

.waf-dataGrid-header .waf-sort {
	position: absolute;
	width: 16px;
	height: 16px;
	margin-top: 9px;
	right: 6px;
}
.waf-dataGrid-header .waf-sort .waf-icon {
	position: absolute;
	left: 0;
	top: 0;
}
.waf-dataGrid-header .waf-sort.waf-sort-asc .waf-icon-sortDesc,
.waf-dataGrid-header .waf-sort.waf-sort-desc .waf-icon-sortAsc {
	display: none;
}

.waf-dataGrid-header .waf-dataGrid-cell.clickable {
    cursor: pointer;
}
.waf-dataGrid-header .waf-dataGrid-cell > .content {
	padding: 10px 22px 6px 5px;
	position: absolute;
}


/**
 * -------------------------------------------------------
 * @section dataGrid body
 * -------------------------------------------------------
 */
.waf-dataGrid-body {
	position: absolute;
	overflow: auto;
}


/**
 * -------------------------------------------------------
 * @section dataGrid row
 * -------------------------------------------------------
 */
.waf-dataGrid-row {
	position: absolute;
	top: 0;
	overflow: hidden;
}

.waf-datagrid-row-inside {
	position: relative;
	display: table-row;
	overflow: hidden;
}
/**
 * -------------------------------------------------------
 * @section dataGrid cell
 * -------------------------------------------------------
 */
.waf-dataGrid-cell {
	position: relative;
	/* float: left; */
	overflow: hidden;
	cursor: default;
	/* height:100%; */
	display: table-cell;
	vertical-align:middle;
}

.waf-dataGrid-cell :not(input){
	-moz-user-select: none;
	-webkit-user-select: none;
}

.waf-dataGrid-cell > .content {
	position: relative;
	left: 0;
	width: 100%;
	/* height: 100%; */
	padding: 6px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.waf-dataGrid-cell > .content-edit {
	position: relative;
	left: 0;
	/* width: 100%; */
	/* height: 100%; */
	padding: 5px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.waf-dataGrid-cell > .content.content-img {
	padding: 0px 5px;
}

.waf-dataGrid-checkbox-label {
	margin-left:6px;
}

.waf-dataGrid-radio-label {
	margin-left:6px;
	margin-right:15px;
}

.waf-dataGrid-cell.editing {
	background-color: #fff;
}
.waf-dataGrid-cell.editing > input[type="text"] {
	position: relative;
	/*width: 100%;*/
	/*height:100%;*/
	left: 0;
	top: 0;
	background-color: transparent;
	margin: 0;
	padding: 5px 5px;
	border: 0 none;
	/* outline: none 0; */
	outline-color: rgb(255, 197, 0);
	outline-style: solid;
	outline-width: 2px;
	overflow: visible;
	
	
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	color: inherit;
    text-align: inherit;
}

.waf-dataGrid-cell:first-child,
.waf-dataGrid-header .waf-dataGrid-cell:first-child,
.waf-dataGrid-row .waf-dataGrid-cell:first-child,
.waf-dataGrid-row-hover .waf-dataGrid-cell:first-child,
.waf-dataGrid-row-active .waf-dataGrid-cell:first-child {
	border-left-width: 0;
}


/**
 * -------------------------------------------------------
 * @section dataGrid footer
 * -------------------------------------------------------
 */
.waf-dataGrid-footer {
	position: absolute;
	overflow: hidden;
	
	/* This is needed for webkit only */
	-webkit-box-sizing: content-box;
}


/**
 * -------------------------------------------------------
 * @section Status
 * -------------------------------------------------------
 */
.waf-status-right {
	padding-right: 6px;
}

/**
 * -------------------------------------------------------
 * @section Message
 * -------------------------------------------------------
 */
.waf-datagrid-missingBinding {
    position:absolute;
    font-size:20px;
    top:70px;
    color:red;
    text-align: center;
    width: 100%
}