/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget dataGrid
 *
 * Includes grid-specific rules of the Default skin
 *
 * @style default
 * @link /walib/WAF/widget/css/widget.css
 * @link /walib/WAF/widget/grid/css/widget-grid.css
 * @link /walib/WAF/widget/skin/default/css/widget-skin-default.css
 *
 */


/**
 * -------------------------------------------------------
 * @section dataGrid container
 * -------------------------------------------------------
 */
.default.waf-dataGrid {
	border-width: 1px;
	border-style: solid;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	    -ms-border-radius: 4px;
	     -o-border-radius: 4px;
	        border-radius: 4px;

	box-shadow: 2px 2px 6px hsla(0, 0%, 0%, 0.2);

	font-size: 13px;

	overflow: hidden;
}


/**
 * -------------------------------------------------------
 * @section dataGrid header
 * -------------------------------------------------------
 */
.default .waf-dataGrid-header {
	font-weight: 550;
}

/**
 * -------------------------------------------------------
 * @section dataGrid body
 * -------------------------------------------------------
 */
.default .waf-dataGrid-body {
	font-family: 'Droid Serif', serif;
}


/**
 * -------------------------------------------------------
 * @section dataGrid row
 * -------------------------------------------------------
 */
.default .waf-dataGrid-row {
	border-top-width: 0;
	border-bottom-width: 0;
	
	border-top-style: none;
	border-bottom-style: none;
}

/* states */
.default .waf-dataGrid-row.waf-state-hover {
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(0.47, hsla(0, 0%, 100%, 0)), color-stop(0.53, hsla(0, 0%, 100%, 0.5)), color-stop(1, hsla(0, 0%, 100%, 1)));
	background-image: -webkit-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 0.5) 53%, hsla(0, 0%, 100%, 1) 100%);
	background-image:    -moz-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 0.5) 53%, hsla(0, 0%, 100%, 1) 100%);
	background-image:     -ms-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 0.5) 53%, hsla(0, 0%, 100%, 1) 100%);
	background-image:      -o-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 0.5) 53%, hsla(0, 0%, 100%, 1) 100%);
	background-image:         linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 47%, hsla(0, 0%, 100%, 0.5) 53%, hsla(0, 0%, 100%, 1) 100%);*/

	border-top-width: 1px;
	border-bottom-width: 1px;
	
	border-top-style: solid;
	border-bottom-style: solid;
}
.default .waf-dataGrid-row.waf-state-active {
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, hsla(0, 0%, 0%, 0)), color-stop(0.68, hsla(0, 0%, 0%, 0)), color-stop(1, hsla(0, 0%, 0%, 0.3)));
	background-image: -webkit-linear-gradient(bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 68%, hsla(0, 0%, 0%, 0.3) 100%);
	background-image:    -moz-linear-gradient(bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 68%, hsla(0, 0%, 0%, 0.3) 100%);
	background-image:     -ms-linear-gradient(bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 68%, hsla(0, 0%, 0%, 0.3) 100%);
	background-image:      -o-linear-gradient(bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 68%, hsla(0, 0%, 0%, 0.3) 100%);
	background-image:         linear-gradient(bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 68%, hsla(0, 0%, 0%, 0.3) 100%);*/

	border-top-width: 1px;
	border-bottom-width: 1px;
	
	border-top-style: solid;
	border-bottom-style: solid;
}
.default .waf-dataGrid-row.waf-state-selected {
	border-top-width: 1px;
	border-bottom-width: 1px;
	
	border-top-style: solid;
	border-bottom-style: solid;
}


/**
 * -------------------------------------------------------
 * @section dataGrid cell
 * -------------------------------------------------------
 */
.default .waf-dataGrid-cell {
	border-left-width: 1px;
	border-left-style: solid;
}

/* states */
.default .waf-dataGrid-row.waf-state-hover .waf-dataGrid-cell > .content,
.default .waf-dataGrid-row.waf-state-selected .waf-dataGrid-cell > .content {
	margin-top: -1px;
}
.default .waf-dataGrid-row.waf-state-active .waf-dataGrid-cell > .content {
	margin-top: 0;
}

/**
 * -------------------------------------------------------
 * @section dataGrid footer
 * -------------------------------------------------------
 */
.default .waf-dataGrid-footer {
	border-top-width: 1px;
	border-top-style: solid;
}



/**
 * -------------------------------------------------------
 * @section dataGrid resizable icon
 * -------------------------------------------------------
 */
.default.waf-dataGrid .ui-icon-gripsmall-diagonal-se {
	width: 22px;
	height: 22px;
	background: url("/walib/WAF/widget/dataGrid/skin/default/svg/widget-dataGrid-skin-default-resizable.svg") 0 0 no-repeat;
}

.default.waf-dataGrid .ui-resizable-se {
	right: 5px;
	bottom: 4px;
}